:root {
  --blue: #0079ff;
  --gray: #697c91;
  --dark-blue: #4b6a9b;
  --dark: #2b3442;
  --very-dark: #010915;
  --light-gray: #f6f8ff;
  --white: #fefefe;
  --dark-blue: #141d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-style: normal;
}

#light {
  background-color: var(--light-gray);
}

#dark {
  background-color: var(--dark-blue);
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 73rem;
}

h1 {
  font-size: 2.6rem;
  line-height: 3.8rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}

.logo {
  font-size: 2.6rem;
  line-height: 3.8rem;
  font-weight: 700;
}

#light .logo {
  color: var(--very-dark);
}

#dark .logo {
  color: var(--white);
}

.theme {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.theme-text {
  text-transform: uppercase;
  font-weight: 700;
}

#light .theme-text {
  color: var(--very-dark);
}

#dark .theme-text {
  color: var(--white);
}

.theme-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search {
  padding: 2.2rem 1rem 2.2rem 3.2rem;
  border-radius: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.4rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
}

#light .search {
  background-color: var(--white);
}

#dark .search {
  background-color: #1e2a47;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.search-input {
  border: none;

  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  cursor: pointer;
}

#light .search-input {
  color: var(--very-dark);
}

#dark .search-input {
  color: var(--white);
  background-color: #1e2a47;
}

#dark .search-input::placeholder {
  color: var(--white);
}

.search-input:focus {
  outline: none;
}

.search-input:active,
.search-input:focus {
  border: none;
}

.search-button {
  padding: 1.2rem 2.3rem 1.3rem 2.4rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#light .search-button {
  color: var(--white);
  background-color: var(--blue);
}

#dark .search-button {
  color: var(--white);
  background-color: var(--blue);
}

.user {
  border-radius: 1.5rem;
  padding: 4.8rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
}

#light .user {
  background-color: var(--white);
}

#dark .user {
  background-color: #1e2a47;
}

#light .user-name {
  color: var(--very-dark);
}

#dark .user-name {
  color: var(--white);
}

.github-user {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  column-gap: 3.7rem;
}

.user-details {
  display: flex;
  justify-content: space-between;
}

.github-user-img {
  grid-row: 1 / 3;
}

.github-user-bio {
  grid-column: 2 / 3;
  margin-bottom: 3.2rem;
}

.username {
  display: block;
  color: var(--blue);
  margin-bottom: 2rem;
}

#light .user-bio {
  color: var(--dark-blue);
  text-wrap: wrap;
}

#dark .user-bio {
  color: var(--white);
  text-wrap: wrap;
}

#light .user-joined-date-text {
  color: var(--very-dark);
}

#dark .user-joined-date-text {
  color: var(--white);
}

.user-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.github-numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.7rem;

  border-radius: 1.5rem;

  padding: 1.5rem 3.2rem 1.7rem 3.2rem;
  margin-left: 15.2rem;
}

#light .github-numbers {
  background-color: var(--light-gray);
  color: var(--very-dark);
}

#dark .github-numbers {
  background-color: var(--dark-blue);
  color: var(--white);
}

.github-numbers div {
  display: flex;
  flex-direction: column;
}

.github-text {
  font-size: 1.3rem;
  line-height: 2rem;
}

#light .github-text {
  color: var(--gray);
}

#dark .github-text {
  color: var(--white);
}

.github-number {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 1.9rem;
  margin-left: 15.2rem;
}

.link {
  display: flex;
  gap: 1.9rem;
}

.link-text {
  font-size: 1.2rem;
  max-width: 20rem;
  overflow: hidden;
}

#dark .link-text {
  color: var(--white);
  text-decoration: none;
}

#dark .underline:hover {
  color: var(--white);
  text-decoration: underline;
}

#light .link {
  color: var(--dark-blue);
}

#light .link-text {
  color: #4b6a9b;
  text-decoration: none;
}

#light .underline:hover {
  color: #4b6a9b;
  text-decoration: underline;
}

#dark .link {
  color: var(--white);
}

#light .disabled {
  color: rgba(75, 106, 155, 0.5);
}

#dark .link .disabled {
  color: var(--gray);
}

.error {
  color: red;
}

/* ************** TABLED ************** */

@media (max-width: 768px) {
  body {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .container {
    max-width: 57rem;
  }

  .user-image {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .header {
    margin-bottom: 3.5rem;
  }

  .logo {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }

  .search-input {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .user {
    padding: 4rem;
  }

  .github-user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    column-gap: 3.7rem;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .github-user-img {
    grid-row: 1 / 3;
    margin-bottom: 2.4rem;
  }

  .github-user-bio {
    grid-column: 1 / 3;
    margin-bottom: 3.2rem;
  }

  .username {
    display: block;
    color: var(--blue);
    margin-bottom: 0.4rem;
  }

  .github-numbers {
    margin-bottom: 3rem;
    margin-left: 0;
  }

  .github-text {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .github-number {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
  }

  .link-text {
    font-size: 1.2rem;
  }
}

/* MOBILE */
@media (max-width: 425px) {
  body {
    font-size: 1.3rem;
  }

  .container {
    max-width: 32rem;
  }

  h1 {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .header {
    margin-bottom: 3.6rem;
  }

  .logo {
    font-size: 2.6rem;
  }

  .search {
    padding: 2rem 0.7rem 2rem 1.6rem;
    border-radius: 1.5rem;
    margin-bottom: 1.6rem;
  }

  .search-input {
    font-size: 1.3rem;
  }

  .input-box {
    gap: 0.9rem;
  }

  .search-input {
    font-size: 1.3rem;
  }

  .search-button {
    padding: 1.2rem 1.6rem 1.3rem 1.6rem;
    font-size: 1.4rem;
  }

  .user {
    padding: 3.2rem 2.4rem;
  }

  .github-user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    column-gap: 1.9rem;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .github-user-img {
    grid-row: 1 / 2;
    margin-bottom: 3.3rem;
  }

  .github-user-bio {
    grid-column: 1 / 3;
    margin-bottom: 2.3rem;
  }

  .user-name {
    font-size: 1.6rem;
  }

  .username {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }

  .user-image {
    width: 100%;
    height: auto;
  }

  .github-numbers {
    margin-bottom: 2.4rem;
  }

  .github-text {
    font-size: 1.1rem;
  }

  .github-number {
    font-size: 1.6rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .link-text {
    font-size: 1.3rem;
  }
}
