:root {
  --blue: #079ff;
  --gray: #697c91;
  --dark-blue: #4b6a9b;
  --dark: #2b3442;
  --light-gray: #f6f8ff;
  --white: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--light-gray);
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 73rem;
  /* background-color: var(--white); */
}

.header {
}
